.bm-menu{
    padding-top: 0px !important;
    background-color: white !important;
    transition: .3s !important;
    .bm-item-list{
        margin-left: 0px !important;
        font-size: inherit !important;
    }
}

.pointer{
    cursor: pointer;
}